:root {
  --red: #d01c28;
  --gray: #2e2e2e;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 10px auto;
  height: 75px;
}
ul {
  display: flex;
  list-style: none;
  gap: 28px;
}
li {
  font-weight: 500;
  cursor: pointer;
}
.login-btn {
  cursor: pointer;
  height: 30px;
  width: 75px;
  border: none;
  border-radius: 3px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--red);
}
.home-container {
  max-width: 1280px;
  margin: 10px auto;
  height: calc(100vh-75px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-container h1 {
  font-weight: 800;
  line-height: 82px;
  font-size: 80px;
}

.section-container p {
  margin: 15px 0px;
  width: 400px;
  font-weight: 500;
}
.btn {
  cursor: pointer;
  height: 30px;
  width: 120px;
  border-radius: 3px;
}
.btn-container {
  margin: 25px 0px;
  display: flex;
  gap: 40px;
}
.shop {
  background-color: var(--red);
  color: var(--white);
  border: none;
}
.category {
  border: solid 2px var(--gray);
}
.png {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
